.icon-style {
    color: #c4c7db;
    margin-right: 10px;
}

.list-group-item {
    color: #808791;
}

#Menu .list-group .list-group-item:hover {
    background-color: #e4e7f5 !important;
    color: #6b7ad3;
}

#Menu .list-group .list-group-item:hover .icon-style {
    color: #6b7ad3;
}


#Others .list-group .list-group-item:hover {
    background-color: #e4e7f5 !important;
    color: #6b7ad3;
}

#Others .list-group .list-group-item:hover .icon-style {
    color: #6b7ad3;
}
